.si-news-entry {
  /*min-height:800px; */
  #cc_wrapper {
    margin-top:20px;
    @media only screen and (min-width: 800px) {
      margin-top:50px;
    }
    padding:0 20px;
    .form-row {
      flex-direction: column;
      text-align: center;
      align-items: center;
      @media only screen and (min-width: 800px) {
        flex-direction: row;
        text-align: left;
      }
    }
  }
  div#modal {
    background: rgba(255,255,255,0.9);
    position: absolute;
    height: 800px;
    z-index: 10;
    min-height: 300px;
    backdrop-filter: blur(10px) saturate(0.5);
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0px 1px 7px black;
    width: 90%;
    left: 5%;
    top: -100px;
    transition: .5s top;
    display: none;
    #x {
      &:hover {
        cursor: pointer;
      }
    }
    &.show {
      position:fixed;
      margin-top:25%;
      margin-bottom:25%;
    }
    .title {
        border-bottom:1px solid #aaa;
        padding:0 30px;
        span#x {
            position: absolute;
            top: 0px;
            right: 20px;
            font-size: 2em;
        }
      }
  .body {
      padding:10px 30px;
    }
  }
}

footer#colophon {
  z-index:-1;
}
