body {
  font-size:18px;
  &.si-sticky-header {
    #sinatra-header-inner {
      backdrop-filter: blur(7px) saturate(0.5);
    }
  }

  /* on mobile only */
  &.sinatra-is-mobile {
    #sinatra-header {
      .si-container.si-header-container {
        padding:0 20px;
        .sinatra-logo .site-title {
          font-size: 1.1rem;
        }
      }
    }
  }

  div#main.site-main {
    overflow: hidden;
    .force-full-width .wp-block-cover__inner-container {
        max-width: 1600px;
        padding:0 20px;
    }

    @media only screen and (min-width: 800px) {
      .margin-l-r-20-desktop-per {
        margin-left:20%;
        margin-right:20%;
      }
    }

    @media only screen and (min-width: 800px) {
      .margin-l-r-35-desktop-per {
        margin-left:20%;
        margin-right:20%;
      }
    }

    button.btn {
        background: #c81e1e;
        padding: 10px;
        border-style: solid;
        border: none;
        color:white;
        &:hover {
          filter: contrast(0.7);
          transition: 1s all;
          cursor: pointer;
        }
    }
    .flex {
      display:flex;
      &.flex-center {
          justify-content: center;
      }
    }
    .wp-block-gallery {
      figure.wp-block-image {
        figcaption {
          background:rgba(0,0,0,0.7);
          text-shadow: 1px white white;
          font-weight: bold;
          font-size:.7em;
          @media only screen and (min-width: 800px) {
            font-size:1em;
          }
        }
      }
    }
  }
}
